:root {
  --size-unit: 1rem;
  --card-padding: calc(var(--size-unit) * 2);
  --card-gap: calc(var(--size-unit) * 3);
  --card-radius: calc(var(--size-unit) * 0.5);
}

.demo-area {
  display: flex;
  gap: var(--card-gap, 1rem);
  justify-content: center;
  margin: 0 auto;
  width: 80ch;
}

.card {
  border: 1px solid;
  border-radius: var(--card-radius, 1rem);
  padding: var(--card-padding, 1rem);
  text-align: center;
}

.card img {
  border-radius: var(--card-radius, 1rem);
  object-fit: cover;
}
