.demo-area {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 70ch;
}

.card {
  border: 2px solid black;
  font-size: 1.2rem;
  padding: 1rem;
  width: min(30ch, calc(100vh - 2rem));

  img {
    margin: -1rem -1rem 0 -1rem;
    width: calc(100% + 2rem);
  }
}

h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}