*,:after,:before 
         box-sizing: border-box
}

a,abbr,acronym {
 border: none;
margin: 0 ;
padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
display: block
}

audio,canvas,video {
display: inline-block
}

audio:not([controls]) {  display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    display: inline-block;
    text-decoration: none
}

b,strong {
    font-weight: bolder
}

button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1
}

button::-moz-focus-inner {
    border: none;
    padding: 0
}

button,input,optgroup,select,textarea {
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    font-weight: inherit;
    margin: 0
}

:disabled,[disabled] {
    cursor: default;
    pointer-events: none
}

html {
    background-color: #fff;
    color: #3a3a3d;
    font-family: Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: scrollbar;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

img {
    vertical-align: bottom
}

ol,ul {
    list-style: none
}

table {
    border-collapse: collapse
}

td,th {
    box-sizing: content-box
}