body {
  /* overflow-x: hidden; */
  margin: 0;
}

figure {
  margin: 0;
}

.demo-area {
  margin: 0 auto;

}

.demo-area h2 {
  background: hsl(205, 100%, 86%);
  line-height: 2;
  width: 100vw;
  /* width: calc(100vw - .8rem);*/
}

.horizontal-img {
  width: 100vw;
 /* width: calc(100vw - .8rem); */
}

figcaption {
  padding: .5rem 1rem;
}