.demo-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-inline-size: 70ch;
}

.widescreen {
  align-items: center;
  aspect-ratio: 16/9;
  background-color: hsl(0, 0%, 75%);
  display: flex;
  inline-size: 100%;
  justify-content: center;
  margin-block-end: 1rem;
}

.square {
  aspect-ratio: 1/1;
  max-inline-size: 50ch;
  object-fit: cover;
}