.demo-area {
  margin: 0 auto;
  max-width: 70ch;
}

.square {
  aspect-ratio: 1/1;
  float: left;
  margin-inline-end: 1rem;
  object-fit: cover;
  width: 50%;
}

.demo-area h2 {
  /* clear: left; */
}