.demo-area {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container {
  background-color: hsl(0, 0%, 25%);
  color: white;
  max-inline-size: 50ch;
  padding: 3rem;
  position: relative;

  &::before {
    background-color: hotpink;
    block-size: 50px;
    clip-path: polygon(0% 0%, 100% 0, 100% 60%, 50% 100%, 0 60%);
    content: "";
    inline-size: 60px;
    position: absolute;
  }
}